In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("/home/harish/Machine_learning/MachineLearning/DataSets/911.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289240 entries, 0 to 289239
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   lat        289240 non-null  float64
 1   lng        289240 non-null  float64
 2   desc       289240 non-null  object
 3   zip        253942 non-null  float64
 4   title      289240 non-null  object
 5   timeStamp  289240 non-null  object
 6   twp        289137 non-null  object
 7   addr       289240 non-null  object
 8   e          289240 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 19.9+ MB

In [6]:
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [8]:
# top 5 largest zip codes
df["zip"].sort_values(
    axis=0,
    ascending=False,)

66737     77316.0
25529     36107.0
249392    19602.0
0         19525.0
188531    19525.0
           ...
289228        NaN
289232        NaN
289233        NaN
289235        NaN
289236        NaN
Name: zip, Length: 289240, dtype: float64

In [9]:
df.sort_values("zip",ascending=False)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
66737,30.333596,-95.595595,8931; MONTGOMERY; Station 311; 2016-06-02 @ 1...,77316.0,EMS: CARDIAC EMERGENCY,2016-06-02 13:31:21,MONTGOMERY,8931,1
25529,32.387090,-86.276106,600 ; MONTGOMERY; 2016-02-12 @ 18:44:37;,36107.0,Traffic: DISABLED VEHICLE -,2016-02-12 18:44:37,MONTGOMERY,600,1
249392,40.334197,-75.922495,WALNUT ST & CHERRY ST; BERKS COUNTY; Station ...,19602.0,EMS: CARDIAC EMERGENCY,2017-09-20 00:57:01,BERKS COUNTY,WALNUT ST & CHERRY ST,1
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
188531,40.309917,-75.606769,ONYX LN & PINE LN; DOUGLASS; 2017-04-13 @ 10:5...,19525.0,Fire: TRASH/DUMPSTER FIRE,2017-04-13 10:57:09,DOUGLASS,ONYX LN & PINE LN,1
...,...,...,...,...,...,...,...,...,...
289228,40.179375,-75.236238,RT309 EXPY & RAMP NORRISTOWN RD TO RT309 NB; L...,NaN,Traffic: VEHICLE ACCIDENT -,2017-12-30 11:04:04,LOWER GWYNEDD,RT309 EXPY & RAMP NORRISTOWN RD TO RT309 NB,1
289232,40.172314,-75.492728,RT422 & RAMP EGYPT RD TO RT422 EB; UPPER PROV...,NaN,Traffic: VEHICLE ACCIDENT -,2017-12-30 11:12:15,UPPER PROVIDENCE,RT422 & RAMP EGYPT RD TO RT422 EB,1
289233,40.172314,-75.492728,RT422 & RAMP EGYPT RD TO RT422 EB; UPPER PROV...,NaN,Traffic: VEHICLE ACCIDENT -,2017-12-30 11:12:33,UPPER PROVIDENCE,RT422 & RAMP EGYPT RD TO RT422 EB,1
289235,40.024967,-75.282905,SCHUYLKILL EXPY & RAMP CITY AVE EB TO I76 WB; ...,NaN,EMS: VEHICLE ACCIDENT,2017-12-30 11:11:36,LOWER MERION,SCHUYLKILL EXPY & RAMP CITY AVE EB TO I76 WB,1
289236,40.024967,-75.282905,SCHUYLKILL EXPY & RAMP CITY AVE EB TO I76 WB; ...,NaN,Fire: VEHICLE ACCIDENT,2017-12-30 11:11:30,LOWER MERION,SCHUYLKILL EXPY & RAMP CITY AVE EB TO I76 WB,1

In [16]:
# top 5 busiest/more cases zip codes
df["zip"].value_counts().head(5)

19401.0    19821
19464.0    19276
19403.0    14524
19446.0    13939
19406.0     9601
Name: zip, dtype: int64

In [32]:
df.groupby("zip").head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1
...,...,...,...,...,...,...,...,...,...
283209,40.539298,-75.496997,GRO KELLY ; LOWER MERION; 2017-12-15 @ 16:24:05;,18049.0,Traffic: VEHICLE ACCIDENT -,2017-12-15 16:24:05,LOWER MERION,GRO KELLY,1
285470,41.167156,-76.874030,MAIN; ; Station 325; 2017-12-20 @ 21:36:45;,17752.0,EMS: VEHICLE ACCIDENT,2017-12-20 21:36:45,NaN,MAIN,1
285471,40.115794,-75.344254,MAIN; ; 2017-12-20 @ 21:36:35-Station:STA98;,19404.0,Fire: VEHICLE ACCIDENT,2017-12-20 21:36:35,NaN,MAIN,1
286424,40.043463,-75.416229,VALLEY FORGE RD & TURNPIKE UNDERPASS; CHESTER ...,19333.0,Traffic: DISABLED VEHICLE -,2017-12-23 09:33:58,CHESTER COUNTY,VALLEY FORGE RD & TURNPIKE UNDERPASS,1
286425,40.043463,-75.416229,VALLEY FORGE RD & TURNPIKE UNDERPASS; CHESTER ...,19333.0,Traffic: DISABLED VEHICLE -,2017-12-23 09:35:05,CHESTER COUNTY,VALLEY FORGE RD & TURNPIKE UNDERPASS,1

In [20]:
df.groupby("zip").head()

            lat                                                        \
          count       mean       std        min        25%        50%
zip
17555.0     1.0  40.205247       NaN  40.205247  40.205247  40.205247
17752.0     2.0  41.167156  0.000000  41.167156  41.167156  41.167156
18036.0     4.0  40.455835  0.001364  40.453790  40.455835  40.456517
18041.0  1214.0  40.406453  0.008052  40.386136  40.403073  40.404460
18049.0     1.0  40.539298       NaN  40.539298  40.539298  40.539298
...         ...        ...       ...        ...        ...        ...
19520.0     2.0  40.198379  0.000000  40.198379  40.198379  40.198379
19525.0  2651.0  40.307820  0.015401  40.271597  40.297876  40.310659
19602.0     1.0  40.334197       NaN  40.334197  40.334197  40.334197
36107.0     1.0  32.387090       NaN  32.387090  32.387090  32.387090
77316.0     1.0  30.333596       NaN  30.333596  30.333596  30.333596

                                  lng             ...                        \
               75%        max   count       mean  ...        75%        max
zip                                               ...
17555.0  40.205247  40.205247     1.0 -75.989593  ... -75.989593 -75.989593
17752.0  41.167156  41.167156     2.0 -76.874030  ... -76.874030 -76.874030
18036.0  40.456517  40.456517     4.0 -75.462294  ... -75.462294 -75.459977
18041.0  40.408377  40.446626  1214.0 -75.507795  ... -75.500478 -75.454888
18049.0  40.539298  40.539298     1.0 -75.496997  ... -75.496997 -75.496997
...            ...        ...     ...        ...  ...        ...        ...
19520.0  40.198379  40.198379     2.0 -75.791824  ... -75.791824 -75.791824
19525.0  40.318160  40.386887  2651.0 -75.595508  ... -75.580340 -75.534222
19602.0  40.334197  40.334197     1.0 -75.922495  ... -75.922495 -75.922495
36107.0  32.387090  32.387090     1.0 -86.276106  ... -86.276106 -86.276106
77316.0  30.333596  30.333596     1.0 -95.595595  ... -95.595595 -95.595595

              e
          count mean  std  min  25%  50%  75%  max
zip
17555.0     1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
17752.0     2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
18036.0     4.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
18041.0  1214.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
18049.0     1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
...         ...  ...  ...  ...  ...  ...  ...  ...
19520.0     2.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
19525.0  2651.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
19602.0     1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
36107.0     1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0
77316.0     1.0  1.0  NaN  1.0  1.0  1.0  1.0  1.0

[125 rows x 24 columns]

In [24]:
df["twp"].value_counts()

LOWER MERION     24826
ABINGTON         17820
NORRISTOWN       16546
UPPER MERION     15288
CHELTENHAM       13359
                 ...
BRYN ATHYN         544
SALFORD            502
GREEN LANE         184
PHILA COUNTY       115
LEHIGH COUNTY       67
Name: twp, Length: 68, dtype: int64

In [25]:
df["twp"].value_counts().head(6)

LOWER MERION    24826
ABINGTON        17820
NORRISTOWN      16546
UPPER MERION    15288
CHELTENHAM      13359
POTTSTOWN       12039
Name: twp, dtype: int64

In [31]:
# unique reasons to call 911
df.head()
df.groupby("title").describe()

                                          lat                                  \
                                        count       mean       std        min
title
EMS: ABDOMINAL PAINS                   4145.0  40.170798  0.085792  39.980172
EMS: ACTIVE SHOOTER                       2.0  40.218105  0.010111  40.210955
EMS: ALLERGIC REACTION                 1259.0  40.161815  0.087902  39.981980
EMS: ALTERED MENTAL STATUS             4208.0  40.171270  0.083912  39.980172
EMS: AMPUTATION                          39.0  40.171435  0.093388  40.005185
...                                       ...        ...       ...        ...
Traffic: HAZARDOUS ROAD CONDITIONS -   2487.0  40.149140  0.089067  39.977494
Traffic: ROAD OBSTRUCTION -            8767.0  40.151169  0.086723  39.926518
Traffic: VEHICLE ACCIDENT -           68123.0  40.149241  0.082709  39.883363
Traffic: VEHICLE FIRE -                1562.0  40.146037  0.080288  39.978263
Traffic: VEHICLE LEAKING FUEL -         173.0  40.159573  0.083871  39.998215

                                                                       \
                                            25%        50%        75%
title
EMS: ABDOMINAL PAINS                  40.113236  40.154216  40.243046
EMS: ACTIVE SHOOTER                   40.214530  40.218105  40.221680
EMS: ALLERGIC REACTION                40.098940  40.151253  40.232208
EMS: ALTERED MENTAL STATUS            40.112781  40.155827  40.238724
EMS: AMPUTATION                       40.098594  40.159519  40.235164
...                                         ...        ...        ...
Traffic: HAZARDOUS ROAD CONDITIONS -  40.089470  40.138955  40.225976
Traffic: ROAD OBSTRUCTION -           40.095163  40.141732  40.221645
Traffic: VEHICLE ACCIDENT -           40.095171  40.137047  40.212296
Traffic: VEHICLE FIRE -               40.093712  40.130718  40.200770
Traffic: VEHICLE LEAKING FUEL -       40.097222  40.135944  40.230934

                                                     lng             ...  \
                                            max    count       mean  ...
title                                                                ...
EMS: ABDOMINAL PAINS                  40.464122   4145.0 -75.335587  ...
EMS: ACTIVE SHOOTER                   40.225255      2.0 -75.188401  ...
EMS: ALLERGIC REACTION                40.445678   1259.0 -75.331636  ...
EMS: ALTERED MENTAL STATUS            40.452456   4208.0 -75.321228  ...
EMS: AMPUTATION                       40.391961     39.0 -75.349191  ...
...                                         ...      ...        ...  ...
Traffic: HAZARDOUS ROAD CONDITIONS -  40.426620   2487.0 -75.317977  ...
Traffic: ROAD OBSTRUCTION -           40.427214   8767.0 -75.310791  ...
Traffic: VEHICLE ACCIDENT -           40.539298  68123.0 -75.297713  ...
Traffic: VEHICLE FIRE -               40.430613   1562.0 -75.309441  ...
Traffic: VEHICLE LEAKING FUEL -       40.393005    173.0 -75.343922  ...

                                          zip                 e            \
                                          75%      max    count mean  std
title
EMS: ABDOMINAL PAINS                  19446.0  19525.0   4145.0  1.0  0.0
EMS: ACTIVE SHOOTER                   19363.0  19454.0      2.0  1.0  0.0
EMS: ALLERGIC REACTION                19446.0  19525.0   1259.0  1.0  0.0
EMS: ALTERED MENTAL STATUS            19446.0  19525.0   4208.0  1.0  0.0
EMS: AMPUTATION                       19446.0  19512.0     39.0  1.0  0.0
...                                       ...      ...      ...  ...  ...
Traffic: HAZARDOUS ROAD CONDITIONS -  19446.0  19525.0   2487.0  1.0  0.0
Traffic: ROAD OBSTRUCTION -           19444.0  19525.0   8767.0  1.0  0.0
Traffic: VEHICLE ACCIDENT -           19440.0  19525.0  68123.0  1.0  0.0
Traffic: VEHICLE FIRE -               19440.0  19525.0   1562.0  1.0  0.0
Traffic: VEHICLE LEAKING FUEL -       19446.0  19525.0    173.0  1.0  0.0


                                      min  25%  50%  75%  max
title
EMS: ABDOMINAL PAINS                  1.0  1.0  1.0  1.0  1.0
EMS: ACTIVE SHOOTER                   1.0  1.0  1.0  1.0  1.0
EMS: ALLERGIC REACTION                1.0  1.0  1.0  1.0  1.0
EMS: ALTERED MENTAL STATUS            1.0  1.0  1.0  1.0  1.0
EMS: AMPUTATION                       1.0  1.0  1.0  1.0  1.0
...                                   ...  ...  ...  ...  ...
Traffic: HAZARDOUS ROAD CONDITIONS -  1.0  1.0  1.0  1.0  1.0
Traffic: ROAD OBSTRUCTION -           1.0  1.0  1.0  1.0  1.0
Traffic: VEHICLE ACCIDENT -           1.0  1.0  1.0  1.0  1.0
Traffic: VEHICLE FIRE -               1.0  1.0  1.0  1.0  1.0
Traffic: VEHICLE LEAKING FUEL -       1.0  1.0  1.0  1.0  1.0

[131 rows x 32 columns]

In [33]:
df["title"].nunique()

131